.mainBtn{
    -fx-background-color: #1A1B49;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
    -fx-background-radius: 25px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 5, 0.5, 2, 2);
}

#backBtn {
    -fx-background-color: #F17D5D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
    -fx-background-radius: 25px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 5, 0.5, 2, 2);

}

#offlineModeTxt{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 50px;
    -fx-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(gaussian, #225577, 10, 0.5, 2, 2);
}

.mainBtn:hover {
    -fx-background-color: #507a96;
}

#backBtn:hover{
    -fx-background-color: #F4AB97;
}

