
.root {
    -fx-font-family: "Arial, sans-serif";
    -fx-alignment: center;
}

#btnWithPC, 
#btnOnline, 
#btnExit
{
    -fx-pref-width: 300px;
    -fx-pref-height: 50px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-color: #1A1B49;
}

#profile{
    -fx-pref-height: 50px;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-color: #1A1B49;
}
#btnWithPC:hover, #btnOnline:hover, #btnExit:hover, #profile:hover{
    -fx-background-color: #507a96;
}



#lblLanding {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 60px;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(gaussian, #225577, 10, 0.5, 2, 2);
}

#profileName{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(gaussian, #225577, 10, 0.5, 2, 2);
}
