/*
 * Empty Stylesheet file.
 */
.root{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 27px;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(gaussian, #225577, 10, 0.5, 2, 2);
}
#loginBtn,
#registerBtn{
    -fx-background-color: #1A1B49;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #000, 5, 0.5, 2, 2);
}

#backPhoto{
    -fx-cursor: hand;
}
#registerBtn:hover, 
#loginBtn:hover{
    -fx-background-color: #507a96;
}