.mainFxmlClass{
    -fx-background-radius: 15;
    -fx-background-color: white;
    -fx-border-radius: 15;
    -fx-border-color: lightgray;
    -fx-border-width: 2;
}

#headerTxt{
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 50px;
    -fx-fill: #1A1B49;
    -fx-font-weight: bold; 
}

#cancelBtn {
    -fx-background-color: #F17D5D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS";
    -fx-background-radius: 25px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 2, 2);
}

#playBtn {
    -fx-background-color: #1A1B49;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Comic Sans MS";
    -fx-background-radius: 25px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 2, 2);
}

#cancelBtn:hover {
    -fx-background-color: #F4AB97;
}

#playBtn:hover {
    -fx-background-color: #507a96;
}
