#headerTxt{
    -fx-fill: #FFFFFF;
    -fx-font-family: "Poppins";
    -fx-font-size: 46px;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
}

#cancelBtn {
    -fx-background-color: #F17D5D;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
    -fx-background-radius: 25px;
}

#playBtn {
    -fx-background-color: #5DFF4B;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Poppins";
    -fx-background-radius: 25px;
}

#cancelBtn:hover {
    -fx-background-color: #F4AB97;
}

#playBtn:hover {
    -fx-background-color: #9EFF93;
}
