
/* 
    Created on : Jan 7, 2025, 11:42:12 AM
    Author     : Khaled Mustafa
*/

/* another: font  Comic Sans MS */
.root {
    -fx-font-family: "Arial, sans-serif";
    -fx-alignment: center;
}

#lblLogin {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(gaussian, #225577, 10, 0.5, 2, 2);
}

#txtFieldUserName, 
#txtFieldUserPassword {
    -fx-pref-width: 350px;
    -fx-pref-height: 45px;
    -fx-border-color: #ffc107;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px;
    -fx-font-size: 16px;
    -fx-background-color: white;
}

#btnLogin {
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
    -fx-background-color: #225577;
    -fx-border-radius: 25px;
    -fx-background-radius: 25px;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

#btnLogin:hover {
    -fx-background-color: #507a96;
}
.tooltip {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-background-color: #225577;
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
